@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{ var projects = Umbraco.Content(1090);}
<div class="table-reponsive">
<table class="table">	
	@foreach (var child in projects.Children.OrderBy("CreateDate").Take(2)) {
	<tr>
		<th colspan="2"><a href="@child.Url"><h4>@child.Name</h4></a></th>
		</tr>
		<tr>
			
			<td><img height="150px;" width="150px;" class="img-resonsive" alt="@child.Name" src=""/></td>
	
		
		<td>@Umbraco.Truncate(@child.projectItemBodyText,700)</td>
		</tr>
	}
	</table>
</div>